@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  --greetings-background: #fbfbfb;
  --organization-link-color: #137117;
  --pet-border-radius: 6px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  line-height: 1.17;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {

}

.content {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.greetings {
  flex: 0 0 500px;
  height: 100%;
  padding: 20px;
  background: var(--greetings-background);
}

.who {
  font-size: 58px;
  font-weight: bold;
}

.profession {
  font-size: 24px;
  font-weight: normal;
}

.organization {
  font-size: 20px;
}

.organization__link {
  color: var(--organization-link-color);
  font-style: italic;
  opacity: 0.8;
  transition: color 0.125s linear;
}

.organization__link:hover {
  color: #0d9413;
}

.story-telling {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.pet-projects__caption {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
}

.pet-projects__list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
}

.pet-project {
  position: relative;
  display: flex;
  width: 300px;
  color: black;
  text-decoration: none;
  border: 1px solid #e2e2e2;
  border-radius: var(--pet-border-radius);
  transition: border-color 0.125s linear;
}

.pet-project:hover {
  border-color: #c7c7c7;
}

.pet-project__image {
  height: 180px;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: var(--pet-border-radius);
  transition: opacity 0.125s linear;
}

.pet-project:hover .pet-project__image {
  opacity: 1;
}

.pet-project__name {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 var(--pet-border-radius) var(--pet-border-radius);
  background: rgba(255, 255, 255, 0.9);
}
