@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --content-width: 1020px;
  --content-padding: 10px;

  --link-color: #1894b0;
  --hash-color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  /*width: 100vw;*/
  /*height: 100vh;*/
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Here we go! */

/* Common */

.external-text-link {
  color: var(--link-color);
}

/* Any section */

.section {
  width: 100%;
}

.section__label {
  font-size: 28px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 4px solid #009688;
}

.section__content {
  width: var(--content-width);
  margin: 0 auto;
  padding: var(--content-padding);
}

/* Header */

.header {
  position: sticky;
  top: 0;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
}

.header .section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__label {
  position: relative;
  padding-bottom: 6px;
  font-size: 42px;
}

.header__sub-label {
  position: absolute;
  bottom: 0;
  left: 3px;
  font-size: 12px;
  font-weight: normal;
  color: var(--hash-color);
}


.header__profile-image {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  cursor: help;
}

.header__profile-image:hover {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

/* Specific */

.section.specific-info {
  background: #fbfbfb;
}

.now-at-company {
  font-size: 16px;
}

/* About */

.spec-tags {
  font-size: 16px;
}

.spec-tags__tag::before {
  content: '# ';
  color: var(--hash-color);
  font-weight: bold;
}

.spec-tags__tag:not(:last-of-type) {
  margin-bottom: 5px;
}

/* Social Links */

.social-links-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(24, 32px);
}

.social-links-list__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  opacity: 0.7;
}

.social-links-list__link:hover {
  opacity: 1;
}

.social-links-list__image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Pet Projects */

.pet-projects-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 10px;
}

.pet-projects-list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  color: var(--link-color);
  text-decoration: none;
}

.pet-projects-list__image {
  width: 100%;
  height: 180px;
  margin-bottom: 5px;
  object-fit: cover;
  filter: grayscale(1);
  border: 1px solid var(--link-color);
  border-radius: 2px;
}

.pet-projects-list__link:hover .pet-projects-list__image {
  filter: grayscale(0);
}

@media (max-width: 1020px) {
  .section__content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .pet-projects-list {
    grid-template-columns: 300px;
  }
}
